*
{   
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color:#edeef0;
}

.header {
    background-color:#507299;
    width: 100%;
    position: fixed;
    top: 0;
    height: 40px;
    left: 0;
	z-index: 100;
   
}
.image {
   margin-top: 6px;
   margin-left: 14%;
   position: fixed;
}

nav {
    margin-top: 60px;
    position: relative;
	color: #507299;
	margin-left: -20px;
    
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin-bottom: 20px;
}

nav ul li a {
    text-decoration: none;
	padding: 10px;
}

nav a:hover {
	background-color: #c7d1e0;
}

section {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 750px;	
	height: 100%;
	position: relative;	
}

.post {	
    position: relative;
	left:35%;
    top: -200px;
	padding: 20px 20px 30px 20px ;
	margin: 15px 20px 20px 20px;
	width: 50%;
	background-color: white;
	border: 1px solid #d0d0d0;
	border-radius: 10px;
	text-align: justify;
	box-shadow: -1px -1px 3px #d0d0d0, 1px 1px 3px #d0d0d0;
    
}


.post img {	
	width: 100%;
}

.post h4 {	
	padding-top: 5px;
}

.line1 {
	border: 2px solid #d0d0d0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.line2 {
	border: 3px solid #d0d0d0;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -20px;
	margin-right: -20px;
}

.like {
	color: #2e5473;
	float: left;
}

.comment {
	color: #2e5473;
	float: right;
}

.like:hover {
	text-decoration: underline;
}
.comment:hover {
	text-decoration: underline;
}

p::selection {
    background-color: #d0d0d0; 
    color: green; 
}


aside {
	position: fixed;
	right: 13%;
	top: 50px;
}

aside div {
	background-color:white;
	border-radius: 10px;
	margin-top: 15px;
	padding: 10px;
	width: 140px;
	height: 170px;
	box-shadow: 0px 0px 3px #d0d0d0
}

aside div p {
	margin-top: 10px;
	background-color: #e8e9eb;
}

aside div h4 {
	margin: 5px;
	margin-top: 10px;
}

footer {	
	text-align: center;
	color: gray;
	padding-top: 5px;
	padding-bottom: 5px;
	position: static;
	background-color: white;
	width:100%;
}

@media (max-width: 1400px) {
    aside {
	    display: none;
    }
    .image {
        margin-left: 100px;
    }
}

@media (max-width: 650px) {

	nav {
		width: 430px;
		float: none;
		position: static;
	}
	nav ul {
		width: 100%;
		text-align: center;
	}
	nav li {
		display: inline-block;
	}

    .post {
        left: 0;
        top: 0;
        width: 400px; 
        margin: 20px;
        z-index: -1;
    }

    aside {
        display: none; 
    }

}